streamlit
numpy==1.24.4  # Downgrade to a compatible version with Prophet
pandas # for data manipulation 
requests
plotly
yfinance
Cython==0.29.36  # Required for Prophet
setuptools>=42  # Ensure setuptools is up to date for building packages
wheel  # Ensure wheel is available for building packages
pystan==2.19.1.1  # Prophet depends on this version of pystan
git+https://github.com/anurag10-10/prophet-custom.git@main#subdirectory=python
